@1:#18191b;
@2:#ecf0f1;
//#b6b6b6
@3:#ecf0f1;
//#3498db
//#e67e22
@btn: @3;
@4:#FFF;
@op2:0.85;
@op1:0.75;
@ophover: 0.95;

@media all and (max-width:1000px) {

	#container {
		width: 100%;
		margin: 0px;
		box-sizing: border-box;
		padding: 9px;
		padding-top: 59px;
		height: 100vh;
	}
	main {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	#blocgauche {
		display: none
	}
	#blocdroit {
		display: none
	}
	nav#navbar {
		top: 0px;
		height: 50px;
		width: 100%;
		display: block;
		position: fixed;
		z-index: 1000;
	   text-align: right; 
       background-color: @1;
       padding-right: 9px;
            div.logo{
        width: 50px;
        height:50px;
        position: absolute;
             background-image: url(../img/logo3.png);
         background-position: center;
         background-repeat: no-repeat;
         background-size: 30px 30px;
        }
			ul li {
				display: inline-block;
				margin-top: 5px;
                text-align: right;
				a {
					height: 60px;
					width: 60px;
					display: block;
					font-size: 14px;
                    color:@2;
				}
				a:hover {
					color: @3;
					cursor: pointer;
				}
                i{display: none}
			}
			
		
		
	}
	#home {
		div.presentation {
			margin-bottom: 9px;

			blockquote {
				font-size: 16px;
			}
		}
  div.recent {

        a {
      
            span.title_projects {
                font-size: 11px;
            }
         
        }

    }
	}

#navapp {
    #navlist {
        overflow: inherit;
        white-space: normal;
        height: 100%;
        width: 100%;

        #list {
            padding: 0px;
            margin-left: 0px;

            .ajaxload {
                padding-top: 214.5px;
                height: 80px;
                width: 100%;
                margin: auto;
                text-align: center;
                color: @1;
            }
            a {
                border: none;
               width: 100%;
                height: 150px;
                box-sizing: border-box;
                display: block;
                vertical-align: top;
                white-space: normal;
                text-decoration: none;
                color: @2;
                text-align: left;
                cursor: pointer;
                margin-bottom: 9px;
                padding-left: 0px;

                span {
                	vertical-align: top;
                    display: inline-block;
                    box-sizing: border-box;
                }
                span.thumbnail {
                	text-align: center;
                    height: 100%;
                    width: 25%;
                    background-color: @1;
                    padding: 10px ;
                    box-sizing: border-box;

                    img {
                        margin-top: 0px;
                        width: auto;
                        height: 100%;
                    }
                }
                h1 {
                	display: none;
                    padding: 10px;
                    font-size: 16px;
                    text-align: center;
                    background-color: @1;
                    height: 30px;
                }
                span.resumepro {
					width: 60%;
                    background-color: @1;
                    height: 100%;
                    padding: 10px;

                    p {
                        font-size: 12px;
                        text-align: justify;
                    }
                }
                span.infopro {
                	width: 15%;
                    padding: 10px;
                    background-color: @1;
                    height: 100%;
                }
            }
            a:hover {
                opacity: 0.90;
                color: @3;
            }
        }
    }
}
/**************** ARTICLES ****************/
#articles {
    overflow: inherit;

    #listarticles {
        a.article {
            display: block;
            height: 55.75px;
            margin-bottom: 9px;
            color: @2;
            opacity: @op1;

            span {
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
            }
            span.title_article {
                line-height: 55.75px;
                width: 35%;
                height: 100%;
                padding-left: 10px;
                float: left;
                background-color: @1;
                opacity: 1;
            }
            span.resume_article {
                height: 100%;
                width: 55%;
                line-height: 13px;
                padding: 10px;
                text-align: justify;
                font-size: 12px;
                background-color: @1;
                opacity: 0.8;
            }
         span.containdate{
  
            div.date {

                p.JJ {
                        width: 46px ;
                       height:20px;
                    line-height: 16px;
                    font-size: 28px;
                    padding-top: 3px;
                    margin-top: 2px;
                    float: left;
                }
                p.MM {
                    float: right;
                    font-size: 11px;
                    line-height: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                p.AA {
                    float: right;
                    line-height: 11px;
                    font-size: 10px;
                }
            }
        }


        }
        a.article:hover {
            opacity: 0.9;
            color: @3;
        }
    }
}

}

///////////////////////////////****550****///////////////////////////////
@media all and (max-width:700px) {
/**************** NAVBAR ****************/
	nav#navbar {		
			ul li {
				display: inline-block;
				a {
					color: @2;
					height: 40px;
					width: 40px;
					display: block;
					font-size: 10px;
                    i{display: none;}
				}	
			}
	}
/**************** HOME ****************/
	#home {
		div.presentation {
			height: 243px;
			blockquote {
				font-size: 12px;
                padding: 20px 125px 20px 10px;
				h1 {
					margin-top: 0px;
					font-size: 16px;
					line-height: 20px;
				}
			}
			   div.photo {
            z-index: 2;
            position: relative;
            height: 203px;
            width: 120px;
            float: right;
            margin: 20px 0px 0 0;
            background-image: url(../img/mehdi.jpg);
            background-size: cover;
            box-sizing: border-box;
        }
		}
		.blocleft, .bloccenter, .blocright {
			padding: 0px;
		}
	  div.recent {
       width: 100%;
       margin-bottom: 9px;

        h4 {
            padding-left: 10px;
            height: 27px;
            line-height: 27px;
            font-size: 14px;
        }

    }
	}
/**************** PROJECT ****************/

#projects {
       div.rowprojecttop{ padding-bottom: 2.25px;}
    div.rowprojectbottom{padding-top: 2.25px;}
    .blocleft {
    padding-right: 3px
}
.bloccenter {
    padding-right: 1.5px;
    padding-left: 1.5px;
}
.blocright {
    padding-left: 3px;
}

    div.rowproject {
        span {
            padding-bottom: 20px;
            a {
                i {
                    background-repeat: no-repeat;
                    background-position: center;
                    display: block;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0px;
                }
                div.ctgproject {
                    height: 100%;
                    display: block;
                    box-sizing: border-box;

                    p {
                        text-align: left;
                        padding: 10px 0 0 10px;
                        font-size: 12px;
                    }
                }
                div.number {
                    background-color: @1;
                    height: 20px;
                    margin-right: 20px;
                    text-align: center;
                    box-sizing: border-box;

                    p {
                        height: 100%;
                        width: 20px;
                        background-color: @1;
                        margin-right: -20px;
                        margin-top: 0px;
                        float: right;
                        text-decoration: none;
                        font-size: 14px;
                        padding-top: 2px;
                    }
                }
            }
             i.websites {
                    background-size: 40px;
                }
                i.apps {
                    background-size: 35px;
                }
                i.graphics {
                    background-size: 40px;
                }
                i.objects {
                    background-size: 30px;
                }
                i.videos {
                    background-size: 30px;
                }
                i.others {
                    background-size: 30px;
                }    
        }
    }
}


/**************** ARTICLES ****************/
#articles {
    overflow: inherit;
    #listarticles {
        a.article {
           margin-bottom:4.5px; 
            span {
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
            }
            span.title_article {
                font-size: 12px;
                line-height: 100%;
                padding: 5px;
            }
            span.resume_article {
                height: 100%;
                width: 53%;
                line-height: 11px;
                padding: 5px;
                text-align: left;
                font-size: 10px;
            }
         span.containdate{
            width: 12%;
            padding-right: 5px;
            div.date {
                p.JJ {
                        width: 49px ;
                       height:20px;
                    line-height: 16px;
                    font-size: 21px;
                    padding-top: 3px;
                    margin-top: 2px;
                    float: left;
                }
                p.MM {
                    padding-top: 4px;
                    float: right;
                    font-size: 9px;
                    line-height: 8px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                p.AA {
                    float: right;
                    line-height: 7px;
                    font-size: 9px;
                }
            }
        }
        }
        a.article:hover {
            opacity: 0.9;
            color: @3;
        }
    }
}


}