@media all and (max-width: 1000px) {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #main-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    max-width: 250px;
    width: 100%;
    z-index: 5;
    top: 0;
    right: -250px;
    position: fixed;
    text-align: center;
    padding-top: 50px;
  }
  #main-nav a {
    background-color: #ecf0f1;
    cursor: pointer;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #18191b;
    border-top: 2px solid #18191b;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #main-nav a:hover,
  #main-nav a.current {
    background-color: #ecf0f1;
  }
  .fade {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
  }
  header.cf {
    height: 50px;
    width: 100%;
    display: block;
    z-index: 1000;
    text-align: center;
    background-color: #18191b;
    padding: 9px;
    box-sizing: border-box;
    position: fixed;
  }
  header.cf div.logo {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(../img/logo5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
  }
  header.cf div.mmname {
    background-image: url(../img/mehdimaker3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 60%;
    margin: auto;
    margin-top: 5px;
    height: 20px;
  }
  header.cf a {
    position: absolute;
    z-index: 5;
    height: 50px;
    width: 50px;
    border: none;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 30px;
    background-color: transparent;
    top: 0px;
    right: 0px;
    padding-right: 0px;
    padding-top: 7px;
  }
  #container {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    padding-top: 50px;
    height: 100vh;
  }
  main {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  #blocgauche {
    display: none;
  }
  #blocdroit {
    display: none;
  }
  span.sep {
    display: none;
  }
  .bloccenter {
    padding: 0;
  }
  .bloccenter span.bgsepvertical {
    display: none;
  }
  .blocleft {
    padding: 0;
  }
  .blocleft span.bgsepvertical {
    display: none;
  }
  .blocright {
    padding: 0;
  }
  #home div.presentation {
    margin-bottom: 9px;
  }
  #home div.presentation blockquote {
    font-size: 18px;
    padding: 18px 204px 18px 18px;
  }
  #home div.presentation blockquote span.titlemm {
    display: none;
  }
  #home div.presentation blockquote p {
    margin-top: 60px;
    text-align: left;
  }
  #home div.recent a span.title_projects {
    font-size: 11px;
  }
  #projects span.seppro {
    display: none;
  }
  #projects div.rowprojecttop {
    padding: 0px;
  }
  #projects div.rowprojectbottom {
    padding: 0;
  }
  #projects div div a.face span.bgop {
    opacity: 0.8;
  }
  #navapp #navlist {
    overflow: inherit;
    white-space: normal;
    height: 100%;
    width: 100%;
  }
  #navapp #navlist #list {
    padding: 0px;
    margin-left: 0px;
    height: 100%;
  }
  #navapp #navlist #list .ajaxload {
    position: absolute;
    height: 100vh;
    padding-top: 45vh!important;
    margin-top: -50px;
  }
  #navapp #navlist #list .ajaxload span.bgop {
    opacity: 0.75;
  }
  #navapp #navlist #list a {
    border: none;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    display: block;
    vertical-align: top;
    white-space: normal;
    text-decoration: none;
    color: #ecf0f1;
    text-align: left;
    cursor: pointer;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  #navapp #navlist #list a span.sepverpro {
    display: none;
  }
  #navapp #navlist #list a span {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
  }
  #navapp #navlist #list a span.thumbnail {
    text-align: center;
    height: 100%;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
  }
  #navapp #navlist #list a span.thumbnail span.bgop {
    opacity: 0;
  }
  #navapp #navlist #list a span.thumbnail img {
    margin-top: 0px;
    width: auto;
    height: 100%;
  }
  #navapp #navlist #list a h1 {
    position: absolute;
    z-index: 2;
    padding: 5px 9px 5px 9px;
    font-size: 14px;
    text-align: center;
    height: 25px;
    right: 0px;
  }
  #navapp #navlist #list a span.resumepro {
    position: absolute;
    right: 0px;
    width: 100%;
    background-color: #18191b;
    height: 100%;
    padding-top: 40px;
    padding-left: 210px;
  }
  #navapp #navlist #list a span.resumepro p {
    font-size: 12px;
    text-align: left;
  }
  #navapp #navlist #list a span.infopro {
    display: none;
  }
  #navapp #navlist #list a:nth-of-type(even) span.resumepro {
    opacity: 0.65;
  }
  #navapp #navlist #list a:last-of-type span.sepverpro {
    display: none;
  }
  /**************** ARTICLES ****************/
  #articles {
    overflow: inherit;
  }
  #articles #listarticles a.article {
    display: block;
    height: 55.75px;
    margin-bottom: 0px;
    color: #ecf0f1;
    opacity: 0.75;
  }
  #articles #listarticles a.article span {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }
  #articles #listarticles a.article span.title_article {
    line-height: 55.75px;
    width: 35%;
    height: 100%;
    padding-left: 10px;
    float: left;
    background-color: #18191b;
    opacity: 1;
  }
  #articles #listarticles a.article span.resume_article {
    height: 100%;
    width: 55%;
    line-height: 13px;
    padding: 10px;
    text-align: justify;
    font-size: 12px;
    background-color: #18191b;
    opacity: 0.8;
  }
  #articles #listarticles a.article span.containdate div.date p.JJ {
    width: 46px;
    height: 20px;
    line-height: 16px;
    font-size: 28px;
    padding-top: 3px;
    margin-top: 2px;
    float: left;
  }
  #articles #listarticles a.article span.containdate div.date p.MM {
    float: right;
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
  #articles #listarticles a.article span.containdate div.date p.AA {
    float: right;
    line-height: 11px;
    font-size: 10px;
  }
  #articles #listarticles a.article:nth-of-type(even) {
    opacity: 0.80;
  }
  #articles #listarticles a.article:hover {
    opacity: 0.9;
    color: #ecf0f1;
  }
  /****CONTACT***/
  #contact {
    height: 100%;
  }
  #contact div.height100 {
    height: 100%;
  }
  #contact #apropos {
    height: auto;
    background-color: #18191b;
    opacity: 0.85;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    color: #ecf0f1;
    padding: 10px 10px 10px 10px;
    text-align: center;
  }
  #contact #apropos h3 {
    margin-bottom: 9px;
    margin-top: 50px;
  }
  #contact #apropos div.links a {
    margin-bottom: 4px;
    text-decoration: none;
    color: #ecf0f1;
    font-style: none;
    display: block;
    font-family: "Myriad Pro";
    width: 60%;
    text-align: right;
    margin-right: auto;
    margin-left: auto;
  }
  #contact #apropos div.links a i {
    float: left;
  }
  #contact #apropos div.links a span.thingiverse {
    position: absolute;
    font-family: "Myriad pro";
    font-size: 12px;
    font-weight: bold;
    left: 6px;
    top: 2px;
  }
  #contact #apropos div.links a:hover {
    color: #ffffff;
  }
  #contact form {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    color: #ecf0f1;
    position: relative;
    overflow: hidden;
  }
  #contact form fieldset {
    background-color: #18191b;
    opacity: 0.75;
    height: 70px;
    font-size: 12px;
    border: none;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
  }
  #contact form fieldset i {
    width: 50px;
    height: 60px;
    float: left;
    margin-top: 10px;
  }
  #contact form div.formcontain {
    opacity: 0.75;
    padding: 18px;
    background-color: #18191b;
    height: 100%;
  }
  /***SINGLE****/
  #present_project {
    height: 122px;
    width: 100%;
    position: relative;
    color: #ecf0f1;
    margin-bottom: 0px;
  }
  #present_project span,
  #present_project a {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }
  #present_project a.precedent {
    height: 100%;
    width: 40px;
    opacity: 0.5;
    background-color: #18191b;
  }
  #present_project span.thumbnail {
    padding: 10px;
    height: 100%;
    width: 160px;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  #present_project span.thumbnail span.bgop {
    opacity: 0!important;
  }
  #present_project span.thumbnail img {
    height: 100%;
    width: auto;
    padding: 0px;
  }
  #present_project span.resumepro {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
    z-index: 1;
    position: absolute;
    left: 0px;
    padding-left: 170px;
  }
  #present_project span.resumepro span.bgop {
    opacity: 0.75;
  }
  #present_project span.resumepro h1 {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }
  #present_project span.resumepro span.date {
    display: none!important;
  }
  #present_project span.comment {
    display: none;
  }
  div.infos {
    display: none;
  }
  #mainpro {
    overflow: visible;
  }
  #mainpro section.pres {
    position: absolute;
    padding: 0;
    opacity: 1;
    height: auto !important;
    margin-bottom: -6px !important;
  }
  #mainpro section.pres p {
    margin: 0px!important;
    padding: 0px!important;
  }
  #mainpro section.pres p img {
    height: auto!important;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
  }
  #mainpro section.pres span.bgtechno {
    display: none!important;
    background-color: #18191b;
    width: 100%;
    display: block;
    height: 65px;
    position: absolute;
    bottom: 0px!important;
    opacity: 0.75;
  }
  #mainpro section.pres div.techno {
    display: none!important;
    width: 100%;
    height: 65px;
    position: normal!important;
    box-sizing: border-box;
    bottom: 0px !important;
    padding: 10px;
    display: block;
  }
  #mainpro section.pres div.techno div {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
  }
  #mainpro section.pres div.techno div p {
    font-size: 13px;
    line-height: 10px;
    margin-bottom: 5px;
    font-weight: normal;
    color: #ecf0f1;
  }
  #mainpro section.pres div.techno div span {
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #mainpro section.pres div.techno div span:last-child {
    margin-right: 0px;
  }
  #mainpro section {
    height: auto !important;
  }
  #mainpro section div.description {
    width: 60% !important;
    padding: 0px!important;
  }
  #mainpro section div.illustration {
    float: right;
    height: 100%;
    width: 40% !important;
  }
  #mainpro section div.illustration img {
    height: auto !important;
    width: 100% !important;
    float: right;
  }
  #mainpro section div.decalage {
    display: none;
  }
  #mainpro section.comment {
    min-height: auto !important;
  }
  #mainpro section.comment #listsComments {
    display: block !important;
    width: 100% !important;
    min-height: auto !important;
  }
  #mainpro section.comment #FormComments {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
  }
  #mainpro section.comment #FormComments div.titlereponse {
    background-color: #18191b !important;
    opacity: 1;
  }
}
@media all and (max-width: 700px) {
  /**************** NAVBAR ****************/
  nav#navbar ul li {
    display: inline-block;
  }
  nav#navbar ul li a {
    color: #ecf0f1;
    height: 40px;
    width: 40px;
    display: block;
    font-size: 10px;
  }
  nav#navbar ul li a i {
    display: none;
  }
  /**************** HOME ****************/
  #home div.presentation {
    height: 243px;
    margin-bottom: 0px;
  }
  #home div.presentation blockquote {
    font-size: 14px;
    padding: 18px 124px 18px 9px;
  }
  #home div.presentation blockquote h1 {
    margin-top: 0px;
    font-size: 16px;
    line-height: 20px;
  }
  #home div.presentation blockquote p {
    margin-top: 0px;
  }
  #home div.presentation div.photo {
    z-index: 2;
    position: relative;
    height: 203px;
    width: 120px;
    float: right;
    margin: 20px 0px 0 0;
    background-image: url(../img/mehdi.jpg);
    background-size: cover;
    box-sizing: border-box;
  }
  #home .blocleft,
  #home .bloccenter,
  #home .blocright {
    padding: 0px;
  }
  #home div.recent {
    width: 100%;
    margin-bottom: 0px;
  }
  #home div.recent h4 {
    padding-left: 10px;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
  }
  /**************** PROJECT ****************/
  #projects div.rowproject div p.ctgproject {
    font-size: 15px !important;
  }
  #projects div.rowproject div p.number {
    height: 30px !important;
    width: 30px !important;
    font-size: 14px !important;
  }
  #projects div.rowproject div i.websites {
    background-size: 50px !important;
  }
  #projects div.rowproject div i.apps {
    background-size: 40px !important;
  }
  #projects div.rowproject div i.graphics {
    background-size: 50px !important;
  }
  #projects div.rowproject div i.objects {
    background-size: 40px !important;
  }
  #projects div.rowproject div i.videos {
    background-size: 40px !important;
  }
  #projects div.rowproject div i.others {
    background-size: 40px !important;
  }
  /**************** ARTICLES ****************/
  #articles {
    overflow: inherit;
  }
  #articles #listarticles a.article span {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }
  #articles #listarticles a.article span.title_article {
    font-size: 12px;
    line-height: 100%;
    padding: 5px;
  }
  #articles #listarticles a.article span.resume_article {
    height: 100%;
    width: 65%;
    line-height: 11px;
    padding: 5px;
    text-align: left;
    font-size: 10px;
  }
  #articles #listarticles a.article span.containdate {
    display: none;
    width: 12%;
    padding-right: 5px;
  }
  #articles #listarticles a.article span.containdate div.date p.JJ {
    width: 49px;
    height: 20px;
    line-height: 16px;
    font-size: 21px;
    padding-top: 3px;
    margin-top: 2px;
    float: left;
  }
  #articles #listarticles a.article span.containdate div.date p.MM {
    padding-top: 4px;
    float: right;
    font-size: 9px;
    line-height: 8px;
    font-weight: bold;
    text-transform: uppercase;
  }
  #articles #listarticles a.article span.containdate div.date p.AA {
    float: right;
    line-height: 7px;
    font-size: 9px;
  }
  #articles #listarticles a.article:hover {
    opacity: 0.9;
    color: #ecf0f1;
  }
}
@media all and (max-width: 550px) {
  /**************** NAVBAR ****************/
  /**************** HOME ****************/
  #home div.presentation blockquote {
    font-size: 13px;
  }
  #navapp #navlist {
    overflow: inherit;
    white-space: normal;
    height: 100%;
    width: 100%;
  }
  #navapp #navlist #list {
    padding: 0px;
    margin-left: 0px;
  }
  #navapp #navlist #list a {
    border: none;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    display: block;
    vertical-align: top;
    white-space: normal;
    text-decoration: none;
    color: #ecf0f1;
    text-align: left;
    cursor: pointer;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  #navapp #navlist #list a span.sepverpro {
    display: none;
  }
  #navapp #navlist #list a span {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
  }
  #navapp #navlist #list a span.thumbnail {
    text-align: center;
    height: 100%;
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
  }
  #navapp #navlist #list a span.thumbnail span.bgop {
    opacity: 0;
  }
  #navapp #navlist #list a span.thumbnail img {
    margin-top: 0px;
    width: auto;
    height: 100%;
  }
  #navapp #navlist #list a h1 {
    position: absolute;
    z-index: 2;
    text-align: center;
    height: 25px;
    right: 0px;
  }
  #navapp #navlist #list a span.resumepro {
    position: absolute;
    right: 0px;
    width: 100%;
    background-color: #18191b;
    height: 100%;
    padding-top: 30px;
    padding-left: 110px;
  }
  #navapp #navlist #list a span.resumepro p {
    font-size: 12px;
  }
  #navapp #navlist #list a span.infopro {
    display: none;
  }
  #navapp #navlist #list a:last-of-type span.sepverpro {
    display: none;
  }
  /***SINGLE****/
  #present_project {
    height: 90px;
    width: 100%;
    position: relative;
    color: #ecf0f1;
  }
  #present_project span,
  #present_project a {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }
  #present_project a.precedent {
    height: 100%;
    width: 40px;
    opacity: 0.5;
    background-color: #18191b;
  }
  #present_project span.thumbnail {
    padding: 10px;
    height: 100%;
    width: 90px;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  #present_project span.thumbnail span.bgop {
    opacity: 0.4;
  }
  #present_project span.thumbnail img {
    height: 100%;
    width: auto;
    padding: 0px;
  }
  #present_project span.resumepro {
    padding: 5px;
    padding-left: 100px;
  }
  #present_project span.resumepro h1 {
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }
  #present_project span.resumepro p {
    font-size: 12px;
  }
  #present_project span.comment {
    display: none;
  }
  #mainpro section h3 {
    font-size: 14px;
  }
  #mainpro section div.description {
    font-size: 12px;
    margin: 0;
  }
}
