@media all and (max-width: 1000px) {
  #container {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    padding: 9px;
    padding-top: 59px;
    height: 100vh;
  }
  main {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  #blocgauche {
    display: none;
  }
  #blocdroit {
    display: none;
  }
  nav#navbar {
    top: 0px;
    height: 50px;
    width: 100%;
    display: block;
    background-color: #18191b;
    position: fixed;
    text-align: center;
    z-index: 1000;
  }
  nav#navbar ul li {
    display: inline-block;
    margin-top: 5px;
  }
  nav#navbar ul li a {
    color: #949496;
    height: 60px;
    width: 60px;
    display: block;
    font-size: 14px;
  }
  nav#navbar ul li a:hover {
    color: #ffffff;
    cursor: pointer;
  }
  #home div.presentation {
    margin-bottom: 9px;
  }
  #home div.presentation blockquote {
    font-size: 16px;
  }
  #navapp #navlist {
    overflow: inherit;
    white-space: normal;
    height: 100%;
    width: 100%;
  }
  #navapp #navlist #list {
    padding: 0px;
    margin-left: 0px;
  }
  #navapp #navlist #list .ajaxload {
    padding-top: 214.5px;
    height: 80px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #18191b;
  }
  #navapp #navlist #list a {
    border: none;
    width: 100%;
    height: 150px;
    opacity: 0.85;
    box-sizing: border-box;
    display: block;
    vertical-align: top;
    white-space: normal;
    text-decoration: none;
    color: #949496;
    text-align: left;
    cursor: pointer;
    margin-bottom: 9px;
    padding-left: 0px;
  }
  #navapp #navlist #list a span {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
  }
  #navapp #navlist #list a span.thumbnail {
    text-align: center;
    height: 100%;
    width: 25%;
    background-color: #18191b;
    padding: 10px ;
    box-sizing: border-box;
  }
  #navapp #navlist #list a span.thumbnail img {
    margin-top: 0px;
    width: auto;
    height: 100%;
  }
  #navapp #navlist #list a h1 {
    display: none;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #18191b;
    height: 30px;
  }
  #navapp #navlist #list a span.resumepro {
    width: 60%;
    background-color: #18191b;
    opacity: 0.9;
    height: 100%;
    padding: 10px;
  }
  #navapp #navlist #list a span.resumepro p {
    font-size: 12px;
    text-align: justify;
  }
  #navapp #navlist #list a span.infopro {
    width: 15%;
    padding: 10px;
    background-color: #18191b;
    height: 100%;
  }
  #navapp #navlist #list a:hover {
    opacity: 0.90;
    color: #ffffff;
  }
  #articles {
    overflow: inherit;
  }
}
@media all and (max-width: 550px) {
  nav#navbar ul li {
    display: inline-block;
  }
  nav#navbar ul li a {
    color: #949496;
    height: 40px;
    width: 40px;
    display: block;
    font-size: 12px;
  }
  #home div.presentation {
    height: 243px;
  }
  #home div.presentation blockquote {
    font-size: 12px;
    padding: 20px 160px 20px 20px;
  }
  #home div.presentation blockquote h1 {
    margin-top: 0px;
    font-size: 24px;
    line-height: 20px;
  }
  #home div.presentation div.photo {
    z-index: 2;
    position: relative;
    height: 203px;
    width: 120px;
    float: right;
    margin: 20px 0px 0 0;
    background-image: url(../img/mehdi.jpg);
    background-size: cover;
    box-sizing: border-box;
    opacity: 0.8;
  }
  #home .blocleft,
  #home .bloccenter,
  #home .blocright {
    padding: 0px;
  }
  #home div.recent {
    width: 100%;
    margin-bottom: 9px;
  }
  #projects div.rowprojecttop {
    padding-bottom: 2.25px;
  }
  #projects div.rowprojectbottom {
    padding-top: 2.25px;
  }
  #projects .blocleft {
    padding-right: 3px;
  }
  #projects .bloccenter {
    padding-right: 1.5px;
    padding-left: 1.5px;
  }
  #projects .blocright {
    padding-left: 3px;
  }
}
