@1:#18191b;
@2:#ecf0f1;
//#b6b6b6
@3:#ecf0f1;
//#3498db
//#e67e22
@btn: @3;
@4:#FFF;
@op2:0.85;
@op1:0.75;
@ophover: 1;

@media all and (max-width:1000px) {
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #main-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        max-width: 250px;
        width: 100%;
        z-index: 5;
        top: 0;
        right: -250px;
        position: fixed;
        text-align: center;
        padding-top: 50px;
    }
    #main-nav a {
        background-color: @2;
        cursor: pointer;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        color: @1;
        border-top: 2px solid @1;
        text-decoration: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #main-nav a:hover, #main-nav a.current {
        background-color: @3;
    }
    .fade {
        position: fixed;
        z-index: 4;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000;
        opacity: 0.7;
    }
    header.cf {
        height: 50px;
        width: 100%;
        display: block;
        z-index: 1000;
        text-align: center;
        background-color: @1;
        padding: 9px;
        box-sizing: border-box;
        position: fixed;

        div.logo {
            width: 30px;
            height: 30px;
            position: absolute;
            background-image: url(../img/logo5.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px 30px;
        }
        div.mmname {
            background-image: url(../img/mehdimaker3.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 60%;
            margin: auto;
            margin-top: 5px;
            height: 20px;
        }
        a {
            position: absolute;
            z-index: 5;
            height: 50px;
            width: 50px;
            border: none;
            color: @3;
            text-decoration: none;
            font-size: 30px;
            background-color: transparent;
            top: 0px;
            right: 0px;
            padding-right: 0px;
            padding-top: 7px;
        }
    }
    #container {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0px;
        box-sizing: border-box;
        padding: 0px;
        padding-top: 50px;
        height: 100vh;
    }
    main {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #blocgauche {
        display: none
    }
    #blocdroit {
        display: none
    }
    span.sep {
        display: none;
    }
    .bloccenter {
        padding: 0;

        span.bgsepvertical {
            display: none;
        }
    }
    .blocleft {
        padding: 0;

        span.bgsepvertical {
            display: none;
        }
    }
    .blocright {
        padding: 0;
    }
    #home {
        div.presentation {
            margin-bottom: 9px;
            //    margin-left: -9px;
            //    margin-right: -9px;
            // margin-top: -9px;

            blockquote {
                font-size: 18px;
                padding: 18px 204px 18px 18px;
                span.titlemm {
                    display: none;
                }
                p {
                    margin-top: 60px;
                    text-align: left;
                }
            }
        }
        div.recent {
            a {
                span.title_projects {
                    font-size: 11px;
                }
            }
          
        }
    }
    #projects {
        span.seppro {
            display: none;
        }
        div.rowprojecttop {
            padding: 0px;
        }
        div.rowprojectbottom {
            padding: 0;
        }
        div div a.face{ 
            span.bgop{
                opacity: 0.8;
            }
        }
    }
    #navapp {
        #navlist {
            overflow: inherit;
            white-space: normal;
            height: 100%;
            width: 100%;

            #list {
                padding: 0px;
                margin-left: 0px;
            height: 100%;
                .ajaxload {
               position: absolute;
               height: 100vh;
                               padding-top: 45vh!important;

               margin-top: -50px;
                span.bgop{
                    opacity: @op1;

                }
            }
              
                a {
                    border: none;
                    width: 100%;
                    height: 150px;
                    box-sizing: border-box;
                    display: block;
                    vertical-align: top;
                    white-space: normal;
                    text-decoration: none;
                    color: @2;
                    text-align: left;
                    cursor: pointer;
                    margin-bottom: 0px;
                    padding-left: 0px;

                    span.sepverpro {
                        display: none;
                    }
                    span {
                        vertical-align: top;
                        display: inline-block;
                        box-sizing: border-box;
                    }
                    span.thumbnail {
                        text-align: center;
                        height: 100%;
                        width: 200px;
                        padding: 10px;
                        box-sizing: border-box;

                        span.bgop {
                            opacity: 0;
                        }
                        img {
                            margin-top: 0px;
                            width: auto;
                            height: 100%;
                        }
                    }
                    h1 {
                        position: absolute;
                        z-index: 2;
                        padding: 5px 9px 5px 9px;
                        font-size: 14px;
                        text-align: center;
                        height: 25px;
                        right: 0px;
                    }
                    span.resumepro {
                        position: absolute;
                        right: 0px;
                        width: 100%;
                        background-color: @1;
                        height: 100%;
                        padding-top: 40px;
                        padding-left: 210px;
                        
                        p {
                            font-size: 12px;
                            text-align: left;
                        }
                    }
                    span.infopro {
                        display: none
                    }
                }
             
                 a:nth-of-type(even) span.resumepro{
                    opacity:0.65; 
                }
                a:last-of-type span.sepverpro {
                    display: none;
                }
            }
        }
    }

    /**************** ARTICLES ****************/
    #articles {
        overflow: inherit;

        #listarticles {
            a.article {
                display: block;
                height: 55.75px;
                margin-bottom: 0px;
                color: @2;
                opacity: @op1;

                span {
                    box-sizing: border-box;
                    display: inline-block;
                    vertical-align: top;
                }
                span.title_article {
                    line-height: 55.75px;
                    width: 35%;
                    height: 100%;
                    padding-left: 10px;
                    float: left;
                    background-color: @1;
                    opacity: 1;
                }
                span.resume_article {
                    height: 100%;
                    width: 55%;
                    line-height: 13px;
                    padding: 10px;
                    text-align: justify;
                    font-size: 12px;
                    background-color: @1;
                    opacity: 0.8;
                }
                span.containdate {
                    div.date {
                        p.JJ {
                            width: 46px;
                            height: 20px;
                            line-height: 16px;
                            font-size: 28px;
                            padding-top: 3px;
                            margin-top: 2px;
                            float: left;
                        }
                        p.MM {
                            float: right;
                            font-size: 11px;
                            line-height: 12px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        p.AA {
                            float: right;
                            line-height: 11px;
                            font-size: 10px;
                        }
                    }
                }
            }
            a.article:nth-of-type(even){
                opacity: 0.80;
            }
            a.article:hover {
                opacity: 0.9;
                color: @3;
            }
        }
    }

    /****CONTACT***////
#contact {
    height: 100%;

    div.height100 {
        height: 100%;
    }
    #apropos {
        height: auto;
        background-color: @1;
        opacity: @op2;
        width: 100%;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        color: @2;
        padding: 10px 10px 10px 10px;
        text-align: center;

        h3 {
            margin-bottom: 9px;
            margin-top: 50px;
        }
        div.links {
            a {
                margin-bottom: 4px;
                text-decoration: none;
                color: @2;
                font-style: none;
                display: block;
                font-family: "Myriad Pro";
                width: 60%;
                text-align: right;
                margin-right: auto;
                margin-left: auto;

                i {
                    float: left;
                }
                span.thingiverse {
                    position: absolute;
                    font-family: "Myriad pro";
                    font-size: 12px;
                    font-weight: bold;
                    left: 6px;
                    top: 2px;
                }
            }
            a:hover {
                color: @4;
            }
        }
    }
    form {
        height: 100%;
        width: 100%;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        color: @2;
        position: relative;
        overflow: hidden;

        fieldset {
            background-color: @1;
            opacity: @op1;
            height: 70px;
            font-size: 12px;
            border: none;
            padding: 10px 20px 10px 20px;
            box-sizing: border-box;

            i {
                width: 50px;
                height: 60px;
                float: left;
                margin-top: 10px;
            }
        }
        div.formcontain {
            opacity: @op1;
            padding: 18px;
            background-color: @1;
            height: 100%;

          
        }
    }
}



    /***SINGLE****/
    #present_project {
        height: 122px;
        width: 100%;
        position: relative;
        color: @2;
        margin-bottom: 0px;

        span, a {
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
        }
        a.precedent {
            height: 100%;
            width: 40px;
            opacity: 0.5;
            background-color: @1;
        }
        span.thumbnail {
            padding: 10px;
            height: 100%;
            width: 160px;
            text-align: center;
            position: relative;
            z-index: 2;

            span.bgop {
                opacity: 0!important;
            }
            img {
                height: 100%;
                width: auto;
                padding: 0px;
            }
        }
        span.resumepro {
            width: 100%;
            height: 100%;
            padding: 10px;
            position: relative;
            z-index: 1;
            position: absolute;
            left: 0px;
            padding-left: 170px;

            span.bgop {
                opacity: @op1;
            }
            h1 {
                height: 30px;
                line-height: 30px;
                font-size: 20px;
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
            }
            span.date {
                display: none!important;
            }
        }
        span.comment {
            display: none;
        }
    }
    div.infos {
        display: none;
    }
    #mainpro {
        overflow: visible;

        section.pres {
            position: absolute;
            padding: 0;
            opacity: 1;
            height: auto !important;
            margin-bottom: -6px!important;
           // padding-bottom:59px!important;
            p{
                margin: 0px!important;
                padding: 0px!important;
           
            }
            img {
                height: auto!important;
                width: 100%;
                margin: 0px !important;
                padding: 0px !important;
                             

            }
            span.bgtechno {
                display: none!important;
                background-color: @1;
                width: 100%;
                display: block;
                height: 65px;
                position: absolute;
                bottom: 0px!important;
                opacity: 0.75;
            }
            div.techno {                display: none!important;

                width: 100%;
                height: 65px;
                position: normal!important;
                box-sizing: border-box;
                bottom: -0px!important;
                padding: 10px;
                display: block;

                div {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 15px;

                    p {
                        font-size: 13px;
                        line-height: 10px;
                        margin-bottom: 5px;
                        font-weight: normal;
                        color: @2;
                    }
                    span {
                        vertical-align: top;
                        box-sizing: border-box;
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        margin-right: 2px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    span:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
        section {
            height: auto !important;

            div.description {
                width: 60% !important;
                padding: 0px!important;
            }
            div.illustration {
                float: right;
                height: 100%;
                width: 40% !important;

                img {
                    height: auto !important;
                    width: 100% !important;
                    float: right;
                }
            }
            div.decalage {
                margin-right: 0px!important;
            }

        }
        section.comment {
            min-height: auto !important;

            #listsComments {
                display: block !important;
                width: 100% !important;
                min-height: auto !important;
            }
            #FormComments {
                display: block !important;
                width: 100% !important;
                height: 100% !important;
                div.titlereponse {
                    background-color: @1!important;
                    opacity: 1;
                    }
            }
        }
    }
}
///////////////////////////////****700****///////////////////////////////
@media all and (max-width:700px) {

    /**************** NAVBAR ****************/
    nav#navbar {
        ul li {
            display: inline-block;

            a {
                color: @2;
                height: 40px;
                width: 40px;
                display: block;
                font-size: 10px;

                i {
                    display: none;
                }
            }
        }
    }

    /**************** HOME ****************/
    #home {
        div.presentation {
            height: 243px;
            margin-bottom: 0px;

            blockquote {
                font-size: 14px;
                padding: 18px 124px 18px 9px;

                h1 {
                    margin-top: 0px;
                    font-size: 16px;
                    line-height: 20px;
                }
                p {
                    margin-top: 0px;
                }
            }
            div.photo {
                z-index: 2;
                position: relative;
                height: 203px;
                width: 120px;
                float: right;
                margin: 20px 0px 0 0;
                background-image: url(../img/mehdi.jpg);
                background-size: cover;
                box-sizing: border-box;
            }
        }
        .blocleft, .bloccenter, .blocright {
            padding: 0px;
        }
        div.recent {
            width: 100%;
            margin-bottom: 0px;

            h4 {
                padding-left: 10px;
                height: 27px;
                line-height: 27px;
                font-size: 14px;
            }
        }
    }

    /**************** PROJECT ****************/
    #projects {
       
        div.rowproject {
            div {
                p.ctgproject {
                    font-size: 15px !important;
                }
                p.number {
                    height: 30px !important;
                    width: 30px !important;
                    font-size: 14px !important;
                }
                i.websites {
                    background-size: 50px !important;
                }
                i.apps {
                    background-size: 40px !important;
                }
                i.graphics {
                    background-size: 50px !important;
                }
                i.objects {
                    background-size: 50px !important;
                }
                i.imps {
                    background-size: 40px !important;
                }
                i.scripts {
                    background-size: 40px !important;
                }
            }
        }
    }

    /**************** ARTICLES ****************/
    #articles {
        overflow: inherit;

        #listarticles {
            a.article {
            

                span {
                    box-sizing: border-box;
                    display: inline-block;
                    vertical-align: top;
                }
                span.title_article {
                    font-size: 12px;
                    line-height: 100%;
                    padding: 5px;
                }
                span.resume_article {
                    height: 100%;
                    width: 65%;
                    line-height: 11px;
                    padding: 5px;
                    text-align: left;
                    font-size: 10px;
                }
                span.containdate {
                    display: none;
                    width: 12%;
                    padding-right: 5px;

                    div.date {
                        p.JJ {
                            width: 49px;
                            height: 20px;
                            line-height: 16px;
                            font-size: 21px;
                            padding-top: 3px;
                            margin-top: 2px;
                            float: left;
                        }
                        p.MM {
                            padding-top: 4px;
                            float: right;
                            font-size: 9px;
                            line-height: 8px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        p.AA {
                            float: right;
                            line-height: 7px;
                            font-size: 9px;
                        }
                    }
                }
            }
            a.article:hover {
                opacity: 0.9;
                color: @3;
            }
        }
    }
}
//////////////////////////////****550****///////////////////////////////
@media all and (max-width:550px) {

    /**************** NAVBAR ****************/

    /**************** HOME ****************/
    #home {
        div.presentation {
            blockquote {
                font-size: 13px;

                h1 {
                }
            }
        }
    }
    #navapp {
        #navlist {
            overflow: inherit;
            white-space: normal;
            height: 100%;
            width: 100%;

            #list {
                padding: 0px;
                margin-left: 0px;

              
                a {
                    border: none;
                    width: 100%;
                    height: 100px;
                    box-sizing: border-box;
                    display: block;
                    vertical-align: top;
                    white-space: normal;
                    text-decoration: none;
                    color: @2;
                    text-align: left;
                    cursor: pointer;
                    margin-bottom: 0px;
                    padding-left: 0px;

                    span.sepverpro {
                        display: none;
                    }
                    span {
                        vertical-align: top;
                        display: inline-block;
                        box-sizing: border-box;
                    }
                    span.thumbnail {
                        text-align: center;
                        height: 100%;
                        width: 100px;
                        padding: 10px;
                        box-sizing: border-box;

                        span.bgop {
                            opacity: 0;
                        }
                        img {
                            margin-top: 0px;
                            width: auto;
                            height: 100%;
                        }
                    }
                    h1 {
                        position: absolute;
                        z-index: 2;
                       
                        text-align: center;
                        height: 25px;
                        right: 0px;
                    }
                    span.resumepro {
                        position: absolute;
                        right: 0px;
                        width: 100%;
                        background-color: @1;
                        height: 100%;
                        padding-top: 30px;
                        padding-left: 110px;

                        p {
                            font-size: 12px;
                        }
                    }
                    span.infopro {
                        display: none
                    }
                }
                a:last-of-type span.sepverpro {
                    display: none;
                }
            }
        }
    }

    /***SINGLE****/
    #present_project {
        height: 90px;
        width: 100%;
        position: relative;
        color: @2;

        span, a {
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
        }
        a.precedent {
            height: 100%;
            width: 40px;
            opacity: 0.5;
            background-color: @1;
        }
        span.thumbnail {
            padding: 10px;
            height: 100%;
            width: 90px;
            text-align: center;
            position: relative;
            z-index: 2;

            span.bgop {
                opacity: 0.4;
            }
            img {
                height: 100%;
                width: auto;
                padding: 0px;
            }
        }
        span.resumepro {
            padding: 5px;
            padding-left: 100px;

            h1 {
                height: 20px;
                line-height: 20px;
                font-size: 16px;
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
            }
            p {
                font-size: 12px;
            }
            span.date {
            }
        }
        span.comment {
            display: none;
        }
    }
    #mainpro {
        section.pres {
        }
        section {
            h3 {
                font-size: 14px
            }
            div.description {
                font-size: 12px;
                margin: 0;

            }
            div.illustration {
            }
        }
        section.comment {
        }
    }
}