* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #ecf0f1;
  background: contain;
  font-family: "Myriad pro", sans-serif;
}
#container {
  width: 1000px;
  height: 509px;
  margin: auto;
  margin-top: 8%;
}
main {
  width: 804px;
  height: 100%;
  margin-right: 18px;
  margin-left: 18px;
  background-image: url(../img/maps1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
nav#navbar {
  display: none;
}
.on {
  display: block;
}
.off {
  display: none;
}
.blocleft {
  padding-right: 6px;
}
.bloccenter {
  padding-right: 3px;
  padding-left: 3px;
}
.blocright {
  padding-left: 6px;
}
span.bgop {
  z-index: -1;
  background-color: #18191b;
  opacity: 0.85;
  height: 100%;
  width: 100%;
  display: block;
  top: 0px;
  left: 0px;
  position: absolute;
}
/******** NAV LEFT *********/
#blocgauche {
  width: 120px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#blocgauche header {
  height: 90px;
  background-color: #18191b;
  border-top-left-radius: 10px;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  background-image: url(../img/logo3.png);
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}
#blocgauche nav {
  width: 120px;
}
#blocgauche nav ul li {
  list-style-type: none;
}
#blocgauche nav li a {
  padding: 12px 0 0 15px;
  color: #ecf0f1;
  width: 100%;
  display: block;
  height: 40px;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  background-color: #18191b;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#blocgauche nav li a:hover {
  color: #ffffff;
  opacity: 0.85;
  text-decoration: none;
}
#blocgauche nav li a.active:hover {
  color: #18191b;
  opacity: 1;
  text-decoration: none;
  cursor: default;
}
#blocgauche nav li a.active {
  font-weight: bold;
  color: #18191b;
  background-color: transparent;
}
#blocgauche nav li a.projects.active:hover {
  cursor: pointer;
}
#blocgauche nav li a i {
  width: 22px;
}
#blocgauche nav div.menuprojects {
  overflow: hidden;
  height: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: none;
}
#blocgauche nav div.menuprojects a {
  color: #ecf0f1;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  display: block;
  padding-left: 45px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  background-color: #18191b;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#blocgauche nav div.menuprojects a:first-child {
  padding-top: 10px;
}
#blocgauche nav div.menuprojects a:hover {
  color: #ffffff;
  padding-left: 55px;
  text-decoration: none;
}
#blocgauche nav div.menuprojects a.active2 {
  padding-left: 55px;
  background-image: url(../img/arrowss.png);
  background-repeat: no-repeat;
  background-position: 45px 5px;
  background-size: 8px;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}
#blocgauche nav div.menuprojects a.active2:first-child {
  background-position: 45px 15px;
}
#blocgauche nav div.menuprojects a.active2:hover {
  text-decoration: none;
  background-image: url(../img/arrowsshover.png);
}
/********NAVRIGHT******/
#blocdroit {
  width: 40px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #ecf0f1;
}
#blocdroit div.langue {
  position: absolute;
}
#blocdroit div.langue i.fa-flag {
  width: 40px;
  line-height: 40px;
}
#blocdroit div.langue .fa-flag:hover {
  color: #ecf0f1;
  cursor: pointer;
}
#blocdroit div.langue div.menulangue {
  height: 80px;
  overflow: hidden;
  text-align: left;
  padding-left: 5px;
}
#blocdroit div.langue div.menulangue.cache {
  height: 0px;
}
#blocdroit div.reseau {
  position: absolute;
  bottom: 0px;
  width: 40px;
}
#blocdroit div.reseau i.fa-share-alt {
  width: 40px;
  line-height: 40px;
}
#blocdroit div.reseau .fa-share-alt:hover {
  color: #ffffff;
  cursor: pointer;
}
#blocdroit div.reseau div.menureseau {
  height: 80px;
  overflow: hidden;
}
#blocdroit div.reseau div.menureseau a {
  display: block;
  margin-top: 5px;
}
#blocdroit div.reseau div.menureseau a i.thing {
  font-size: 12px;
  font-weight: bold;
  margin-left: -1px;
}
#blocdroit div.reseau div.menureseau.cache {
  height: 0px;
}
#blocdroit div.blochaut {
  border-top-right-radius: 10px;
  background-color: #18191b;
  height: 214.5px;
}
#blocdroit div.blocbas {
  background-color: #18191b;
  height: 100%;
}
#blocdroit div.navbtn {
  z-index: 2;
  height: 80px;
  background-color: #18191b;
}
#blocdroit div.navbtn i {
  line-height: 40px;
  height: 40px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  background-color: #ecf0f1;
  color: #18191b;
  opacity: 0.8;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#blocdroit div.navbtn i:hover {
  opacity: 0.5;
}
#blocdroit div.navbtn i.cache {
  opacity: 0.2;
  background-color: #18191b;
  cursor: default;
}
#blocdroit div.navbtn i.cache:hover {
  background-color: #18191b;
  color: #ecf0f1;
  opacity: 0.2;
}
/******** FOOTER *********/
footer {
  background-color: #18191b;
  height: 100%;
}
/******** HOME *********/
#home div.presentation {
  height: 293px;
  box-sizing: border-box;
  margin-bottom: 9px;
  position: relative;
  z-index: 1;
}
#home div.presentation span.bgop {
  opacity: 0.85;
}
#home div.presentation blockquote {
  height: 100%;
  font-size: 20px;
  color: #ecf0f1;
  box-sizing: border-box;
  padding: 18px 214px 18px 18px;
}
#home div.presentation blockquote h1 {
  font-size: 40px;
  line-height: 40px;
}
#home div.presentation blockquote span {
  display: block;
  line-height: 18px;
  margin-bottom: 28px;
}
#home div.presentation div.photo {
  z-index: 2;
  position: relative;
  height: 257px;
  width: 174px;
  float: right;
  margin: 18px 0px 0 0;
  background-image: url(../img/mehdi.jpg);
  background-size: cover;
  box-sizing: border-box;
  opacity: 0.8;
}
#home div.recent {
  height: 100%;
  width: 33.33333%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
#home div.recent h4 {
  opacity: 0.85;
  padding-left: 10px;
  height: 27px;
  color: #ecf0f1;
  line-height: 27px;
  font-size: 14px;
  background-color: #18191b;
}
#home div.recent a {
  background-color: #18191b;
  height: 30px;
  color: #ecf0f1;
  opacity: 0.75;
  display: block;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 96% 50%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#home div.recent a span {
  display: inline-block;
}
#home div.recent a span p {
  display: block;
}
#home div.recent a span.title_projects {
  line-height: 30px;
  font-size: 12px;
}
#home div.recent a span.date {
  height: 30px;
  padding-top: 3px;
  padding-right: 8px;
  width: 57px;
  float: right;
  text-align: right;
  box-sizing: border-box;
}
#home div.recent a span.date p.JJ {
  width: 28px;
  height: 20px;
  line-height: 16px;
  font-size: 21px;
  padding-top: 4px;
  margin-top: 1px;
  float: left;
}
#home div.recent a span.date p.MM {
  float: right;
  font-size: 9px;
  line-height: 8px;
  font-weight: bold;
  padding-top: 4px;
  text-transform: uppercase;
}
#home div.recent a span.date p.AA {
  float: right;
  line-height: 7px;
  font-size: 9px;
}
#home div.recent a:hover {
  opacity: 0.95;
  color: #ffffff;
}
#home div.recent a.apps {
  background-image: url(../img/icoprojects/apps.png);
}
#home div.recent a.websites {
  background-image: url(../img/icoprojects/websites.png);
}
#home div.recent a.graphics {
  background-image: url(../img/icoprojects/graphics.png);
}
#home div.recent a.objects {
  background-image: url(../img/icoprojects/objects.png);
}
#home div.recent a.videos {
  background-image: url(../img/icoprojects/videos.png);
}
#home div.recent a.others {
  background-image: url(../img/icoprojects/others.png);
}
#home div.recent div.comm {
  height: 180px;
  background-color: #18191b;
  opacity: 0.75;
}
#home div.recent div.comm p {
  color: #ecf0f1;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
}
/****** ARTICLES *********/
#articles {
  overflow: hidden;
  height: 100%;
}
#articles #listarticles {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#articles #listarticles a.article {
  display: block;
  height: 55.75px;
  margin-bottom: 9px;
  color: #ecf0f1;
  opacity: 0.85;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#articles #listarticles a.article span {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
#articles #listarticles a.article span.title_article {
  line-height: 55.75px;
  width: 35%;
  height: 100%;
  padding-left: 10px;
  float: left;
  background-color: #18191b;
  opacity: 1;
}
#articles #listarticles a.article span.resume_article {
  height: 100%;
  width: 55%;
  line-height: 13px;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  background-color: #18191b;
  opacity: 0.90;
}
#articles #listarticles a.article span.containdate {
  width: 10%;
  height: 100%;
  padding-right: 10px;
  float: right;
  text-align: right;
  box-sizing: border-box;
  background-color: #18191b;
  opacity: 1;
}
#articles #listarticles a.article span.containdate div.date {
  height: 100%;
  padding-top: 16px;
  width: 70px;
  float: right;
  text-align: right;
  box-sizing: border-box;
}
#articles #listarticles a.article span.containdate div.date p.JJ {
  width: 43px;
  height: 20px;
  line-height: 16px;
  font-size: 31px;
  padding-top: 3px;
  margin-top: 2px;
  float: left;
}
#articles #listarticles a.article span.containdate div.date p.MM {
  float: right;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
#articles #listarticles a.article span.containdate div.date p.AA {
  float: right;
  line-height: 11px;
  font-size: 12px;
}
#articles #listarticles a.article:hover {
  opacity: 0.95;
  color: #ffffff;
}
/******** PROJECTS *********/
#projects {
  height: 100%;
}
#projects div.rowprojecttop {
  padding-bottom: 4.5px;
}
#projects div.rowprojectbottom {
  padding-top: 4.5px;
}
#projects div.rowproject {
  height: 50%;
  box-sizing: border-box;
}
#projects div.rowproject span {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 33.33333333333%;
  height: 100%;
  padding-bottom: 40px;
  position: relative;
}
#projects div.rowproject span a:hover {
  opacity: 0.95;
  color: #ffffff;
}
#projects div.rowproject span a {
  opacity: 0.85;
  text-decoration: none;
  height: 100%;
  cursor: pointer;
  color: #ecf0f1;
  display: block;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#projects div.rowproject span a i {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
}
#projects div.rowproject span a div.ctgproject {
  height: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #18191b;
}
#projects div.rowproject span a div.ctgproject p {
  text-align: left;
  padding: 10px 0 0 10px;
  font-size: 16px;
}
#projects div.rowproject span a div.number {
  background-color: #18191b;
  height: 40px;
  margin-right: 40px;
  text-align: center;
  box-sizing: border-box;
}
#projects div.rowproject span a div.number p {
  height: 100%;
  width: 40px;
  background-color: #18191b;
  opacity: 0.85;
  margin-right: -40px;
  margin-top: 0px;
  float: right;
  text-decoration: none;
  font-size: 20px;
  padding-top: 8px;
  box-sizing: border-box;
}
#projects div.rowproject span i.websites {
  background-image: url(../img/icoprojects/websites.png);
  background-size: 70px;
}
#projects div.rowproject span i.apps {
  background-image: url(../img/icoprojects/apps.png);
  background-size: 65px;
}
#projects div.rowproject span i.graphics {
  background-image: url(../img/icoprojects/graphics.png);
  background-size: 70px;
}
#projects div.rowproject span i.objects {
  background-image: url(../img/icoprojects/objects.png);
  background-size: 60px;
}
#projects div.rowproject span i.videos {
  background-image: url(../img/icoprojects/videos.png);
  background-size: 60px;
}
#projects div.rowproject span i.others {
  background-image: url(../img/icoprojects/others.png);
  background-size: 60px;
}
#navapp #navlist {
  overflow: hidden;
  white-space: nowrap;
  height: 509px;
  width: 100%;
  position: relative;
}
#navapp #navlist #list {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0px;
}
#navapp #navlist #list .ajaxload {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #18191b;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 25%;
  box-sizing: border-box;
}
#navapp #navlist #list a {
  margin-right: 9px;
  border: none;
  width: 195px;
  height: 420px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  text-decoration: none;
  color: #ecf0f1;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#navapp #navlist #list a span {
  display: block;
}
#navapp #navlist #list a span.thumbnail {
  height: auto;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}
#navapp #navlist #list a span.thumbnail span.bgop {
  opacity: 0.85;
}
#navapp #navlist #list a span.thumbnail img {
  margin-top: 0px;
  width: 100%;
  height: auto;
}
#navapp #navlist #list a h1 {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #18191b;
  height: 30px;
  opacity: 0.85;
}
#navapp #navlist #list a span.resumepro {
  background-color: #18191b;
  opacity: 0.75;
  height: 170px;
  padding: 10px;
}
#navapp #navlist #list a span.resumepro p {
  font-size: 12px;
  text-align: justify;
}
#navapp #navlist #list a span.infopro {
  padding: 10px;
  background-color: #18191b;
  height: 100%;
  opacity: 0.85;
}
#navapp #navlist #list a span.infopro span.date {
  height: 30px;
  margin: auto;
  margin-top: 15px;
  width: 48px;
  box-sizing: border-box;
}
#navapp #navlist #list a span.infopro span.date p.JJ {
  float: left;
  width: 20px;
  height: 20px;
  line-height: 24px;
  font-size: 24px;
  margin-top: 2px;
}
#navapp #navlist #list a span.infopro span.date p.MM {
  float: right;
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
  padding-top: 3px;
  text-transform: uppercase;
}
#navapp #navlist #list a span.infopro span.date p.AA {
  float: right;
  line-height: 10px;
  font-size: 10px;
}
#navapp #navlist #list a:hover span.thumbnail span.bgop {
  opacity: 0.95;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#navapp #navlist #list a:hover h1 {
  opacity: 0.95;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#navapp #navlist #list a:hover span.infopro {
  opacity: 0.95;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#navapp #navlist #list a:hover span.resumepro {
  opacity: 0.85;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/******** SERVICES *********/
#services {
  height: 100%;
  background-color: #18191b;
  opacity: 0.75;
}
#services p {
  text-align: center;
  color: #ecf0f1;
  padding-top: 250px;
}
/******** CONTACT *********/
#contact {
  height: 100%;
}
#contact div.height100 {
  height: 100%;
}
#contact #apropos {
  height: 100%;
  background-color: #18191b;
  opacity: 0.75;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  color: #ecf0f1;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
#contact #apropos h3 {
  margin-bottom: 9px;
  margin-top: 50px;
}
#contact #apropos div.links a {
  margin-bottom: 4px;
  text-decoration: none;
  color: #ecf0f1;
  font-style: none;
  display: block;
  font-family: "Myriad Pro";
  width: 60%;
  text-align: right;
  margin-right: auto;
  margin-left: auto;
}
#contact #apropos div.links a i {
  float: left;
}
#contact #apropos div.links a span.thingiverse {
  position: absolute;
  font-family: "Myriad pro";
  font-size: 12px;
  font-weight: bold;
  left: 6px;
  top: 2px;
}
#contact #apropos div.links a:hover {
  color: #ffffff;
}
#contact form {
  height: 100%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  color: #ecf0f1;
  position: relative;
  overflow: hidden;
}
#contact form fieldset {
  background-color: #18191b;
  opacity: 0.75;
  height: 70px;
  font-size: 12px;
  border: none;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
}
#contact form fieldset i {
  width: 50px;
  height: 60px;
  float: left;
  margin-top: 10px;
}
#contact form div.formcontain {
  opacity: 0.85;
  padding: 18px;
  background-color: #18191b;
  height: 100%;
}
#contact form div.formcontain label.textarea {
  height: 100%;
  padding-bottom: 303px;
  padding-left: 38px;
  box-sizing: border-box;
}
#contact form div.formcontain label {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 9px;
}
#contact form div.formcontain label p.help-block {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 11px;
}
#contact form div.formcontain label input,
#contact form div.formcontain label textarea {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  padding-left: 46px;
  padding-right: 35px;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 14px;
  color: #ecf0f1;
  font-family: "Myriad Pro";
  border: 2px solid #ecf0f1;
}
#contact form div.formcontain label textarea {
  height: 100%;
  line-height: 14px;
  padding-top: 12px;
  padding-left: 8px;
}
#contact form div.formcontain label ::-webkit-input-placeholder {
  color: #ecf0f1;
  opacity: 0.4;
  font-style: italic;
}
#contact form div.formcontain label ::-moz-placeholder {
  color: #ecf0f1;
  opacity: 0.4;
  font-style: italic;
}
#contact form div.formcontain label span.ico {
  position: absolute;
  height: 40px;
  line-height: 44px;
  text-align: center;
  width: 40px;
  background-color: #ecf0f1;
  color: #18191b;
}
#contact form div.formcontain label span.icotextarea {
  position: absolute;
  left: 0px;
  line-height: 44px;
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: #ecf0f1;
  color: #18191b;
}
#contact form div.formcontain label span.valid i,
#contact form div.formcontain label span.invalid i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 10px;
  top: 0px;
  text-align: right;
  opacity: 0.5;
}
#contact form div.formcontain label span.valid i {
  line-height: 40px;
}
#contact form div.formcontain label .valid i {
  color: green;
}
#contact form div.formcontain label .invalid {
  color: red;
}
#contact form div.formcontain button {
  position: absolute;
  bottom: 18px;
  right: 18px;
  height: 40px;
  width: 100px;
  background-color: #ecf0f1;
  color: #18191b;
  opacity: 0.1;
  text-align: center;
  font-size: 14px;
  margin: auto;
  border: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#contact form div.formcontain button:hover {
  color: #18191b;
}
#contact form div.formcontain button.btnvalid {
  opacity: 1;
}
#contact form div.formcontain button.btnvalid:hover {
  color: #ffffff;
  cursor: pointer;
}
#present_project {
  height: 122px;
  margin-bottom: 9px;
  color: #ecf0f1;
}
#present_project span,
#present_project a {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
#present_project a.precedent {
  height: 100%;
  width: 40px;
  opacity: 0.5;
  background-color: #18191b;
}
#present_project span.thumbnail {
  padding: 10px;
  height: 100%;
  width: 160px;
  text-align: center;
  position: relative;
  z-index: 1;
}
#present_project span.thumbnail span.bgop {
  opacity: 0.75;
}
#present_project span.thumbnail img {
  height: 100%;
  width: auto;
  padding: 0px;
}
#present_project span.resumepro {
  width: 524px;
  height: 100%;
  padding: 10px;
  position: relative;
  z-index: 1;
}
#present_project span.resumepro span.bgop {
  opacity: 0.85;
}
#present_project span.resumepro h1 {
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
#present_project span.resumepro span.date {
  height: 25px;
  padding-top: 0px;
  width: 55px;
  float: right;
  text-align: right;
  box-sizing: border-box;
}
#present_project span.resumepro span.date p.JJ {
  width: 20px;
  height: 20px;
  line-height: 27px;
  font-size: 27px;
  padding-top: 0px;
  margin-top: 2px;
  float: left;
}
#present_project span.resumepro span.date p.MM {
  float: right;
  font-size: 11px;
  line-height: 11px;
  font-weight: bold;
  padding-top: 3px;
  text-transform: uppercase;
}
#present_project span.resumepro span.date p.AA {
  float: right;
  line-height: 11px;
  font-size: 11px;
}
#present_project span.resumepro p {
  font-size: 12px;
  text-align: justify;
}
#present_project span.comment {
  height: 38px;
  margin-top: 84px;
  border: none;
  width: 120px;
  background-color: #18191b;
  color: #ecf0f1;
  opacity: 0.75;
  font-size: 14px;
  padding: 10px 10px 0 10px;
  position: relative;
}
#present_project span.comment i {
  position: absolute;
  right: 10px;
  top: 3px;
}
#present_project span.comment p {
  position: absolute;
  color: #18191b;
  right: 19px;
  top: 7px;
  font-size: 18px;
  font-weight: bold;
}
#present_project span.comment:hover {
  color: #ffffff;
  cursor: pointer;
}
#present_article {
  height: 55.75px;
  margin-bottom: 9px;
  color: #ecf0f1;
}
#present_article span {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
#present_article span.title_article {
  line-height: 55.75px;
  width: 30%;
  height: 100%;
  padding-left: 10px;
  float: left;
  background-color: #18191b;
  opacity: 0.75;
}
#present_article span.resume_article {
  height: 100%;
  width: 60%;
  line-height: 13px;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  background-color: #18191b;
  opacity: 0.6;
}
#present_article span.date {
  height: 100%;
  padding-right: 10px;
  padding-top: 16px;
  width: 10%;
  float: right;
  text-align: right;
  box-sizing: border-box;
  background-color: #18191b;
  opacity: 0.75;
}
#present_article span.date p.JJ {
  width: 43px;
  height: 20px;
  line-height: 16px;
  font-size: 29px;
  padding-top: 4px;
  margin-top: 2px;
  float: left;
}
#present_article span.date p.MM {
  float: right;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
#present_article span.date p.AA {
  float: right;
  line-height: 11px;
  font-size: 12px;
}
#mainpro {
  color: #ecf0f1;
  overflow: hidden;
}
#mainpro #etapes {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100%;
}
#mainpro #etapes section {
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#mainpro #etapes section span.bgop {
  opacity: 0.75;
}
#mainpro #etapes section div.description {
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  width: 426px;
  padding-right: 20px;
}
#mainpro #etapes section div.illustration {
  float: right;
  height: 338px;
  width: 338px;
  display: inline-block;
  margin-right: -20px;
  text-align: center;
}
#mainpro #etapes section div.illustration img {
  height: 100%;
  width: auto;
  float: right;
}
#mainpro #etapes section div.illustration img.website {
  margin-right: -133px;
}
#mainpro #etapes section.pres {
  position: relative;
  padding: 0;
  opacity: 1;
}
#mainpro #etapes section.pres img {
  height: 100%;
  width: auto;
}
#mainpro #etapes section.pres span.bgtechno {
  background-color: #18191b;
  width: 100%;
  display: block;
  height: 65px;
  position: absolute;
  bottom: 0px;
  opacity: 0.75;
}
#mainpro #etapes section.pres div.techno {
  width: 100%;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  bottom: 0px;
  padding: 10px;
  display: block;
}
#mainpro #etapes section.pres div.techno div {
  display: inline-block;
  vertical-align: top;
}
#mainpro #etapes section.pres div.techno div p {
  font-size: 13px;
  line-height: 10px;
  margin-bottom: 5px;
  font-weight: normal;
  color: #ecf0f1;
}
#mainpro #etapes section.pres div.techno div span {
  vertical-align: top;
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  background-size: cover;
}
#mainpro #etapes section.pres div.techno div span:last-child {
  margin-right: 0px;
}
#mainpro #etapes section.pres div.techno div span.html {
  background-image: url(../img/techno/html.png);
}
#mainpro #etapes section.pres div.techno div span.css {
  background-image: url(../img/techno/css.png);
}
#mainpro #etapes section.pres div.techno div span.js {
  background-image: url(../img/techno/js.png);
}
#mainpro #etapes section.pres div.techno div span.php {
  background-image: url(../img/techno/php.png);
}
#mainpro #etapes section.pres div.techno div span.mysql {
  background-image: url(../img/techno/mysql.png);
}
#mainpro #etapes section.pres div.techno div span.ruby {
  background-image: url(../img/techno/ruby.png);
}
#mainpro #etapes section.pres div.techno div span.python {
  background-image: url(../img/techno/python.png);
}
#mainpro #etapes section.pres div.techno div span.jquery {
  background-image: url(../img/techno/jquery.png);
}
#mainpro #etapes section.pres div.techno div span.bootstrap {
  background-image: url(../img/techno/bootstrap.png);
}
#mainpro #etapes section.pres div.techno div span.angular {
  background-image: url(../img/techno/angular.png);
}
#mainpro #etapes section.pres div.techno div span.rails {
  background-image: url(../img/techno/rails.png);
}
#mainpro #etapes section.pres div.techno div span.fa {
  background-image: url(../img/techno/fa.png);
}
#mainpro #etapes section.pres div.techno div span.terminal {
  background-image: url(../img/techno/terminal.png);
}
#mainpro #etapes section.pres div.techno div span.ff {
  background-image: url(../img/techno/ff.png);
}
#mainpro #etapes section.pres div.techno div span.sublime {
  background-image: url(../img/techno/sublime.png);
}
#mainpro #etapes section.pres div.techno div span.openscad {
  background-image: url(../img/techno/openscad.png);
}
#mainpro #etapes section.pres div.techno div span.photoshop {
  background-image: url(../img/techno/photoshop.png);
}
#mainpro #etapes section.pres div.techno div span.illustrator {
  background-image: url(../img/techno/illustrator.png);
}
#mainpro #etapes section.pres div.techno div span.makerbot {
  background-image: url(../img/techno/makerbot.png);
}
#mainpro #etapes section.pres div.techno div:last-child {
  text-align: right;
  float: right;
}
#mainpro #etapes section.comment {
  padding: 0px;
  background-color: transparent;
}
#mainpro #etapes section.comment #listsComments {
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  width: 60%;
  height: 100%;
  color: #ecf0f1;
  background-color: #18191b;
  opacity: 0.75;
}
#mainpro #etapes section.comment #listsComments ul {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#mainpro #etapes section.comment #listsComments li {
  padding: 9px 18px 0px 18px;
  position: relative;
  list-style-type: none;
  width: 100%;
  box-sizing: border-box;
}
#mainpro #etapes section.comment #listsComments li time {
  right: 18px;
  top: 12px;
  position: absolute;
  font-size: 12px;
}
#mainpro #etapes section.comment #listsComments li section.comment-content {
  margin-top: 0px;
}
#mainpro #etapes section.comment #listsComments li section.comment-content p {
  display: block;
  font-size: 12px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 10px;
}
#mainpro #etapes section.comment #listsComments li div.reply a {
  color: #ecf0f1;
}
#mainpro #etapes section.comment #listsComments li div.reply a:hover {
  color: #ffffff;
}
#mainpro #etapes section.comment #FormComments {
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  width: 40%;
}
#mainpro #etapes section.comment #FormComments div.titlereponse {
  background-color: #18191b;
  padding: 10px 10px 10px 20px;
  opacity: 0.75;
  position: relative;
  height: 60px;
  box-sizing: border-box;
}
#mainpro #etapes section.comment #FormComments div.titlereponse i {
  position: absolute;
  right: 18px;
  top: 7px;
  display: none;
}
#mainpro #etapes section.comment #FormComments div.titlereponse p {
  font-size: 12px;
}
#mainpro #etapes section.comment #FormComments form {
  text-align: right;
  padding: 18px;
  background-color: #18191b;
  opacity: 0.85;
}
#mainpro #etapes section.comment #FormComments form label.textarea {
  margin-bottom: 9px;
  padding-left: 30px;
  box-sizing: border-box;
}
#mainpro #etapes section.comment #FormComments form label {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 9px;
}
#mainpro #etapes section.comment #FormComments form label p.help-block {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 10px;
}
#mainpro #etapes section.comment #FormComments form label input,
#mainpro #etapes section.comment #FormComments form label textarea {
  width: 100%;
  line-height: 30px;
  border: none;
  padding-left: 45px;
  padding-right: 35px;
  box-sizing: border-box;
  font-size: 14px;
  color: #ecf0f1;
  background-color: transparent;
  border: 2px solid #ecf0f1;
  font-family: "Myriad Pro";
}
#mainpro #etapes section.comment #FormComments form label textarea {
  padding-left: 13px;
  line-height: 14px;
  padding-top: 10px;
  height: 100%;
  width: 100%;
}
#mainpro #etapes section.comment #FormComments form label ::-webkit-input-placeholder {
  color: #ecf0f1;
  font-style: italic;
}
#mainpro #etapes section.comment #FormComments form label :-moz-placeholder {
  color: #ecf0f1;
  font-style: italic;
}
#mainpro #etapes section.comment #FormComments form label ::-moz-placeholder {
  color: #ecf0f1;
  font-style: italic;
}
#mainpro #etapes section.comment #FormComments form label :-ms-input-placeholder {
  color: #ecf0f1;
  font-style: italic;
}
#mainpro #etapes section.comment #FormComments form label span.ico {
  position: absolute;
  left: 0px;
  height: 32px;
  line-height: 36px;
  text-align: center;
  width: 32px;
  background-color: #ecf0f1;
  color: #18191b;
}
#mainpro #etapes section.comment #FormComments form label span.icotextarea {
  height: 32px;
  position: absolute;
  left: 0px;
  line-height: 36px;
  text-align: center;
  width: 32px;
  background-color: #ecf0f1;
  color: #18191b;
}
#mainpro #etapes section.comment #FormComments form label span.valid i,
#mainpro #etapes section.comment #FormComments form label span.invalid i {
  width: 50px;
  height: 50px;
  line-height: 44px;
  position: absolute;
  right: 10px;
  top: 0px;
  text-align: right;
  opacity: 0.5;
}
#mainpro #etapes section.comment #FormComments form label span.valid i {
  line-height: 35px;
}
#mainpro #etapes section.comment #FormComments form label .valid {
  color: green;
}
#mainpro #etapes section.comment #FormComments form label .invalid {
  color: red;
}
#mainpro #etapes section.comment #FormComments form button {
  height: 30px;
  width: 100px;
  right: 18px;
  background-color: #ecf0f1;
  color: #18191b;
  opacity: 0.1;
  border: none;
  text-align: center;
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#mainpro #etapes section.comment #FormComments form button:hover {
  color: #ecf0f1;
}
#mainpro #etapes section.comment #FormComments form button.btnvalid {
  opacity: 0.75;
}
#mainpro #etapes section.comment #FormComments form button.btnvalid:hover {
  color: #ffffff;
  cursor: pointer;
}
#mainpro #etapes div.infos {
  opacity: 0.75;
  background-color: #18191b;
  width: 120px;
  height: 84px;
  font-size: 14px;
  right: 0px;
  top: 0px;
  position: absolute;
  box-sizing: border-box;
}
#mainpro #etapes div.infos a {
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
  margin-bottom: 0px;
  display: inline-block;
  width: 100%;
  height: 20px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  color: #ecf0f1;
}
#mainpro #etapes div.infos a i {
  float: right;
}
#mainpro #etapes div.infos a i span {
  position: absolute;
  font-family: "Myriad pro";
  font-size: 10px;
  font-weight: bold;
  left: 5px;
  top: 1px;
}
#mainpro #etapes div.infos a:hover {
  color: #ffffff;
}
