/*
Theme Name:Mehdi Maker
Theme URI: 
Template:  
Author: 
Author URI: 
Description: 
Version: 
*/
@import url("css/font-awesome.min.css");
@import url("css/monstyle.css");
@import url("css/mediaquieries.css");





